  <div class="row wrap-row" style="height: 3rem"></div>
  <h3 style="text-align: center;">My Journals:</h3>
  <div class="row wrap-row">
    <% @user.journals.each do |journal| %>
      <div class="card-column">
        <div class="journal-card">
          <h4><%= journal.title %></h4>
          <h6><%= journal.entries_made_today.count %>/<%= journal.prompts.count.to_s %></h6>
          <a class="button button-clear" href="/journals/<%=journal.id%>/write">Write</a>
          <br> 
          <a class="button button-clear" href="/journals/<%=journal.id%>">Read</a>
          <br>
          <a class="button button-clear" href="/journals/<%=journal.id%>/edit">Edit</a>
        </div>
      </div>
    <% end %>
    <div class="card-column">
      <div class="journal-card">
        <h4>Start a New Journal</h4>
        <br>
        <form method="POST" action="/journals">
          <input style="width: 66%;" type="text" id="journal_title" name="journal[title]" placeholder="Title">
          <input type="submit" value="+ Create">
        </form>
      </div>
    </div>
  </div>

