<nav>
  <a href="/user/<%= @user.username %>">My Account</a>
  <a href="/logout">Log Out</a>
</nav>

<h1><%= @journal.title %></h3>

<% @journal.prompts.each do |prompt| %>
  <form method="POST" action="/entries/<%=@user.username%>/<%=@journal.id%>/<%=prompt.id%>">
    <p><%= prompt.title %></p>
    <textarea name="entry[text]" placeholder="Start writing..."></textarea>
    <input type="submit" value="Save">
  </form>
<% end %>


<p>Add New Journal Prompt:</p>
<form method="POST" action="/prompts/<%=@user.username%>/<%=@journal.id%>">
<textarea name="prompt[title]" placeholder=""></textarea>
<input type="submit" value="Add Prompt">