<br>
<h3 style="text-align: center;"><%= @journal.title %></h3>
<div class="row">
  <div class="column column-20"></div>
  <div class="readable-column">
    <% @journal.prompts.each do |prompt| %>
      <% if !prompt.entry_made_today %>
        <form method="POST" action="/entries/<%=@user.username%>/<%=@journal.id%>/<%=prompt.id%>">
        <h5><%= prompt.title %><input style="float: right; height: 3.2rem; line-height: 3.2rem;"  type="submit" value="Save"></h5>
          <textarea name="entry[text]" placeholder="Start writing..."></textarea>
        </form>
      <% else %>
        <h5><%= prompt.title %></h5>
        <p style="white-space: pre-line"><%= prompt.entry_made_today.text %></p>
        <h6><a href="/entries/<%=@user.username%>/<%=@journal.id%>/<%=prompt.entry_made_today.id%>/edit">Edit Entry</a></h6>
      <% end %>
      <br>
    <% end %>

    <form method="POST" action="/prompts">
    <h5>Add a New Journal Prompt <input style="float: right; height: 3.2rem; line-height: 3.2rem;" type="submit" value="+ Add"></h5>
    <input type="text" name="prompt[title]" placeholder=""></textarea>
    <input type="hidden" name="journal[id]" value="<%= @journal.id %>">
    </form>
  </div>
</div>