  <div class="row" style="height: 3rem"></div>
  <h3 style="text-align: center;">My Journals:</h3>
  <div class="row">
    <% @user.journals.each do |journal| %>
      <div class="column column-33">
        <p><%= journal.title %></p>
        <a href="/journals/<%=@user.username%>/<%=journal.id%>/write">Write</a> 
        <a href="/journals/<%=@user.username%>/<%=journal.id%>">Read</a>
        <form method="post" action="/journals/<%=@user.username%>/<%=journal.id%>">
        <input id="hidden" type="hidden" name="_method" value="Delete">
        <input class="button" type="submit" value="Delete">
        </form>
      </div>
    <% end %>
  </div>

  <h3>Start a New Journal</h3>
  <form method="POST" action="/journals/<%=@user.username%>">
    <input type="text" id="journal_title" name="journal[title]" placeholder="Title">
    <input type="submit" value="Create Journal">
  </form>
  <br>
  <p><a href="/logout">Log Out</a></p>