<h1>Welcome <%= @user.username %>!</h1>
<br>
<% if @user.journals.count > 0 %>
<h3>My Journals:</h3>
  <% @user.journals.each do |journal| %>
    <p><%= journal.title %></p>
    <p><a href="/journals/<%=@user.username%>/<%=journal.id%>/write">Write</a> <a href="/journals/<%=@user.username%>/<%=journal.id%>">Read</a></p>
  <% end %>
<% end %>
<br>
<h3>Start a New Journal</h3>
<form method="POST" action="/journals/<%=@user.username%>">
  <input type="text" id="journal_title" name="journal[title]" placeholder="Title">
  <input type="submit" value="Create Journal">
</form>
<br>
<p><a href="/logout">Log Out</a></p>